* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 16px;
}

body {
  background-color: rgb(253, 251, 251);
  color: rgb(141, 141, 141);
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    background-color: blanchedalmond;
    padding: 3px;
    border-radius: 3px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: orange;
  width: 100vw;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

#minha_foto {
  width: 300px;
  margin-top: 50px;
  margin-left: 90px;
  border-radius: 100%;
  border: 5px solid indianred;
}

#caixa_da_imagem {
    display: flex;
    flex: 1;
    justify-items: center;
    margin-top: 50px ;
}

#caixa_da_tabela {
    flex-direction: column;
    padding-left: 45px;
}

#rodape {
  background-color: orange;
  color: rgb(0, 0, 0);
  text-align: center;
}

#listas {
  margin-left: 100px;
  padding: 10px 100px;
  border: 2px solid orange;
  border-radius: 10px;
  width: 480px;
  display: flex;
  flex: 1;
}

#main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

.lado-direito , .lado-esquerdo {
  width: 550px;
}

#licoes_a_aprender {
  margin-left: 50px;
}

#tabela {
    margin-left: 50px;
}
